@charset "utf-8";

/* 공통적 적용 css */
body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Block Han Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.inner {
    display: block;
    width: 1100px;
    margin: auto;
    position: relative;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

menu, ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    /*content: none;*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
@media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}

@media (max-width : 1000px) {
    .inner {
        max-width: calc(100% - 100px);
    }
}

@media (max-width : 768px) {
    .inner {
        max-width: calc(100% - 50px);
    }
}
/* 공통적 적용 css end */

/* btn */
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #FDD657;
    border-radius: 7rem;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}

.btn:hover {
    background-color: #fff;
    color: #529AC7;
}
/* btn end */

/* to_top */
#to_top {
    width: 42px;
    height: 42px;
    background-color: #FDD657;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

#to_top:hover {
    background-color: #fff;
    color: #529AC7;
    transition: .3s;
}
/* to_top end */


/* header */
header {
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    z-index: 9;
    box-shadow: 10px 5px 5px 5px rgba(255, 255, 255, .2);


}

header.moved {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    z-index: 9;
}

header > .inner {
    height: 100px;
    /*width: 100%;*/
    margin: auto;
}

header .maintitle {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 35px;
    font-weight: 800;
    padding: 11px 16px;
    transition: color .4s;
}

header .maintitle.moved {
    position: absolute;
    top: 10px;
    color: #333;
    font-size: 35px;
    font-weight: 800;
    padding: 11px 16px;
    transition: color .4s;
}

header .maintitle:hover {
    color: #FDD657
}

header .maintitle.moved:hover {
    color: #529AC7
}

header .sub-menu {
    position: absolute;
    top: 25px;
    right: -100px;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu a {
    font-size: 22px;
    padding: 11px 16px;
    display: block;
    color: #fff;
    transition: color .4s;
}

header .sub-menu ul.menu a.moved {
    font-size: 22px;
    padding: 11px 16px;
    display: block;
    color: #333;
    transition: color .4s;
}

header .sub-menu ul.menu li a:hover {
    color: #FDD657;
    transition: color .4s;
}

header .sub-menu ul.menu li a.moved:hover {
    color: #529AC7;
    transition: color .4s;
}
/* header end */

/* summary */
.summary {
    position: relative;
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 800px;
    outline: 2px solid orange;
    padding: 4rem;


}

.summary img {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 70%;
    top: 150px
}

.summary .btn {
    margin: 0 auto 40px auto;
    position: absolute;
    bottom: 50px;
    left: 47%;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.summary_header {
    font-family: Black Han Sans, sans-serif;
    border-right: 0.1em solid white;
    font-size: 4vw;
    white-space: pre;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin-top: 420px;
    width: 25ch;
    /* ch : 25개의 문자열을 포함 */
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.summary_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 96vh;
}
/* summary end */

/* aboutme */
.aboutme {
    position: relative;
    background-color: #fff;
    /*margin: 0 auto 0;*/
    width: 100%;
    padding: 4rem;
}

.aboutme .aboutme_header {
    font-family: Black Han Sans, sans-serif;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    border-bottom: .01rem solid #fff;
}

.aboutme .aboutme_description {
    display: flex;
    flex-flow: row wrap;
}

.aboutme .aboutme_description .aboutme_infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: Noto Sans KR, sans-serif;
    width: 100%;
}

.aboutme .aboutme_description .aboutme_infos .info_wraper {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.aboutme .aboutme_description .aboutme_infos .info_wraper .info_title {
    width: 100%;
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 1.25rem;
    height: 28px;
}

.aboutme .aboutme_description .aboutme_infos .info_wraper .info_des {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    color: inherit;
    display: flex;
}

.aboutme .aboutme_description .aboutme_infos .info_wraper .info_des a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    /*color: inherit; !* 링크의 색상 제거 *!*/
}

.aboutme .aboutme_description .aboutme_infos .info_wraper .info_des i {
    padding: 14px 10px 0 0;
}

.info_des a {
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 굵게 */
    text-decoration: underline; /* 밑줄 추가 */
}
.aboutme-text {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #444444;
    font-size: 16px; /* 글자 크기 */
    border-radius: 5px;
    color: #ffffff;
    display: none;
    text-align: center;
    position: absolute;
}

.info_des a:hover + .aboutme-text{
    /*color: red; !* 호버 시 추가 문구의 색상 변경 *!*/
    display: block;
}

/* aboutme end */

/*skills*/
.skills .skills_heeding {
    font-family: Black Han Sans, sans-serif;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    border-bottom: .01rem solid #fff;

}

.skills {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /*padding-bottom: 5rem;*/
    background: #FDD657;
    position: relative;
    padding: 4rem;
}

.skills_title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.skills_image_container {
    text-align: center;
    display: inline-block;
    width: 114px;
    height: 116px;
    border-radius: 30px 30px;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}

.skills_level {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 30px 30px;
    width: 100px;
    height: 100px;
    padding: 10px;
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.0rem;
    color: white;
    visibility: hidden;
}

.skills_image_container:hover .skills_level {
    visibility: visible;
    animation: fadeout1 0.5s;
    -moz-animation: fadeout1 0.5s; /* Firefox */
    -webkit-animation: fadeout1 0.5s; /* Safari and Chrome */
    -o-animation: fadeout1 0.5s; /* Opera */

}

@keyframes fadeout1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@-moz-keyframes fadeout1 { /* Firefox */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@-webkit-keyframes fadeout1 { /* Safari and Chrome */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@-o-keyframes fadeout1 { /* Opera */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

@media (max-width: 576px) {
    .skills_image_container {
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    .skills_level {
        width: 84px;
        height: 84px;
    }
}
/* skills end */

/* archive */
.archive {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    padding: 4rem;
    height: 35rem;
    background-color: #333;
}

.archive .archive_title {
    font-family: Black Han Sans, sans-serif;
    color: #fff;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    border-bottom: .01rem solid #fff;
}

.archive .archive_containor {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Noto Sans KR, sans-serif;
}

.archive .archive_containor .archive_box {
    flex-shrink: 0;
    width: 24rem;
    padding: 1.5rem;
    margin: 20px;
    border-radius: 0.7rem;
    background-color: #fff;
    margin-bottom: 0;
    box-shadow: 1rem 1rem 1rem 0 rgb(255 255 255   / 20%);
}

.archive .archive_containor .archive_box .archive_box_title {
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.4rem;
    color: #56585C;
}

.archive .archive_containor .archive_box .archive_box_des {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.archive .archive_containor .archive_box .archive_box_des a {
    color: #529AC7;
}

.archive .archive_containor .archive_box .archive_box_des ul {
    list-style-type: disc;
}

.archive .archive_containor .archive_box .archive_box_des li {
    list-style-position: inside;
    text-indent: -20px;
    padding-left: 20px;
}

.textmiddle {
    vertical-align: super;
}
.archive-text {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #444444;
    font-size: 16px; /* 글자 크기 */
    border-radius: 5px;
    color: #ffffff;
    display: none;
    text-align: center;
}
.archive_box_des a {
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 굵게 */
    text-decoration: underline; /* 밑줄 추가 */
}

.archive_box_des a:hover + .archive-text{
    /*color: red; !* 호버 시 추가 문구의 색상 변경 *!*/
    display: block;
}
/* archive end */

/* projects */
.projects {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    padding: 4rem;
    height: auto;
    background-color: #fff;
}

.projects .project_title {
    font-family: Black Han Sans, sans-serif;
    color: #000;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    word-break: keep-all;
    border-bottom: .01rem solid #000;

}

.projects .project_containor {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Noto Sans KR, sans-serif;
    padding-bottom: 50px;
    /*border: 1px solid #000;*/
}

.projects .project_containor .project_box {
    flex-shrink: 0;
    width: 70%;
    padding: 1.5rem;
    margin: 35px;
    border-radius: 0.7rem;
    background-color: #fff;
    /*margin-bottom: 0;*/
    box-shadow: 1rem 1rem 1rem 0 rgb(255 255 255   / 0%);
    border: 1px solid #000;
}

.projects .project_containor .project_box .project_box_title {
    text-align: center;
    font-weight: 700;
    font-size: 2.0rem;
    color: #56585C;
}

.projects .project_containor .project_box .project_box_subtitle {
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.2rem;
    color: #9CA0A8;
    padding-top: 10px;
}
.project_box_des_left_whereOTT {
    display: flex;
}

.project_box_des_left_whereOTT img {
    width: 50%; /* 각 이미지의 너비를 50%로 설정하여 두 개의 이미지를 동일한 줄에 가로로 배치 */
}


.projects .project_containor .project_box .project_box_des {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects .project_containor .project_box .project_box_des_left {
    width: 45%;
}

.projects .project_containor .project_box .project_box_des_left img {
    width: 300px;

}

.projects .project_containor .project_box .project_box_des_right {
    width: 45%;
    height: auto;
}

.projects .project_containor .project_box .project_box_des_right .project_box_des_right_info {
    border-top: 1px solid #9CA0A8;
}

.projects .project_containor .project_box .project_box_des_right .project_box_des_right_info .info_key {
    display: inline-block;
    vertical-align: top;
    width: 6.4rem;
    font-weight: 900;
    font-size: 1.2rem;
}

.projects .project_containor .project_box .project_box_des_right .project_box_des_right_info .info_value {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 8.4rem);
    font-weight: 400;
    font-size: 1rem;
}

.info-text {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #444444;
    font-size: 16px; /* 글자 크기 */
    border-radius: 5px;
    color: #ffffff;
    display: none;
    text-align: center;
}
.info_value a {
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 굵게 */
    text-decoration: underline; /* 밑줄 추가 */
}
.info_value a:hover + .info-text{
    /*color: red; !* 호버 시 추가 문구의 색상 변경 *!*/
    display: block;
}

.slide-container {
    text-align: center;
}


/* project end */

/* history */
.history {
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    padding: 4rem;
    height: auto;
    background-color: #FDD657;
}

.history .history_title {
    font-family: Black Han Sans, sans-serif;
    color: #fff;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    border-bottom: .01rem solid #fff;
}

.history .history_containor .history_box {
    padding-top: 30px;
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Noto Sans KR, sans-serif;
}

.history .history_containor .history_leftside {
    border-right: #c2c2c2 solid 1px;
    padding-right: 0rem;
    border-right: 1px;
    width: 15%

}

.history .history_containor .history_leftside .profile_logo {
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    border: 1px solid #ccc;
    border-radius: 4rem;
}

.history .history_containor .history_rightside {
    border-left: #c2c2c2 solid 1px;
    padding-left: 20px;
    width: 50%
}

.history .history_containor .history_rightside .history_right_title {
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.history .history_containor .history_rightside .history_right_subtitle {
    font-weight: 400;
    font-size: 1.1rem;
    color: #9CA0A8;
    padding-bottom: 1rem;
}

.history .history_containor .history_rightside .history_right_des {
    padding-bottom: 1rem;
    border-bottom: 1px solid #c2c2c2;
}

.history .history_containor .history_rightside .history_right_des p:nth-child(1) {
    padding-bottom: 1rem;
    font-weight: 700;
}

.roundimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* history end */

/* footer */
footer {
    background-color: #333;
    height: 8rem;
    text-align: center;
    padding-top: 3rem;
}

footer .footer_icons {
    background-color: #333;
    margin: 0 0 1rem 0;
}

footer .footer_icons .footer_icon {
    background-color: #333;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    margin: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}
/* footer end */

/* modal */
/* 이미지 클릭시 확대 CSS*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 150%;
    max-width: 1000px;
    padding-top: 100px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* modal end*/

/* photo slide*/
.slide-wrapper {
    position: relative;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #717171;
}
/* photo slide end */

/* contact */
.contact {
    position: relative;
    margin: 0 auto;
    width: 800px; /* 가로 너비 설정 */
    height: 870px; /* 세로 높이 설정 */
    overflow: auto; /* 내용이 넘치는 경우 스크롤 표시 */
    padding: 20px; /* 내부 여백 설정 */
    background-color: #fff;
    box-sizing: border-box; /* padding과 border가 요소의 크기에 포함되도록 설정 */
}
.contact_title {
    font-family: Black Han Sans, sans-serif;
    color: #000;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    word-break: keep-all;
    border-bottom: .01rem solid #000;

}
.contact form {
    width: 100%;
    margin-top: 50px;
}

.contact .form-floating {
    margin-bottom: 1.5rem;
}

.contact .form-floating input,
.contact .form-floating textarea {
    width: calc(100% - 2rem); /* 수평 패딩 고려하여 너비 설정 */
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact .form-floating p {
    padding: 0 0.5rem;
    margin-bottom: 10px; /* label과 input 사이의 간격 조정 */
}

.contact .invalid-feedback {
    display: none;
    color: red;
}

.contact .form-control.is-invalid,
.contact .form-control:invalid {
    border-color: red;
}

.contact .d-grid {
    margin-top: 1.5rem;
}

.contact .btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #FDD657;
    border-radius: 7rem;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}

.contact .btn:hover {
    background-color: #fff;
    color: #529AC7;
}
/* contact end */

